html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

*, *::before, *::after {
    box-sizing: border-box;
}

header {
    position: relative;
    width: 100%;
    background-color: rgba(0,0,0,0.3);
    height: 100px;
    border-bottom: 2px solid rgba(255,255,255, 0.2);
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 46px;
    left: 0;
    margin-left: 1em;
    display: flex;
    justify-content: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: white;
    height: 4px;
    width: 4em;
    border-radius: 10px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after{
    content: '';
    position: absolute;
}

.nav-toggle-label span::before{
    bottom: 12px;
}

.nav-toggle-label span::after{
    top: 12px;
}

nav{
    position: absolute;
    text-align: left;
    top: 100px;
    left: 0;
    background-color: rgba(200,200,200,0.3);
    width: 100%;
    display: none;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
    border-bottom: 2px solid rgba(255,255,255,0.3);
}

nav a {
    font-weight: 900;
    text-decoration: none;
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
}

nav a:hover,
nav a:focus {
    color: var(--menu-hover-clr);
}

input[type=checkbox]:checked ~ nav {
    display: block;
}

nav li img{
    width:calc(100% - 1em);
    margin-top: 1em;
}

.content{
    position: absolute;
    background-color: #222;
    top: 0;
    z-index: -1;
}

.section-1{
    position: relative;
    height: 100vh;
    display: grid;
    justify-content: center;
    background-image: url(img/main-img.jpg);
    background-size: cover;
    background-position: center;
}

.section-1 h1{
    position: relative;
    color: white;
    font-size: 3em;
    font-weight: 900;
    text-align: center;
}

.section-1 img{
    position: relative;
    justify-self: center;
    width: 90%;
    top: 120px;
}

.section-2{
    position: relative;
    height: 100vh;
    background-color: #222;
}

.section-2 h1{
    color: white;
}